// _light-mode.scss

body.light-mode {
  --color-primary: #7412B2;
  --color-secondary: #34D1B2;
  --color-text: #2A2A2A;
  --color-text-light: lighten(#2A2A2A, 20%);
  --color-background: #FFFFFF;
  --color-accent: #AAAAAA;
  --color-hover: darken(#7412B2, 10%);

  // Code block colors
  --color-code-bg: #f5f5f5;
  --color-code-text: #2A2A2A;
  --color-code-border: #E1E1E8;
}
