// _variables.scss

@import 'colors';
@import 'font-sizes';
@import 'font-weights';
@import 'max-widths';
@import 'spacings';
@import 'light-mode';
@import 'dark-mode';

:root {
  @each $size, $value in $max-widths {
    --maxWidth-#{$size}: #{$value};
  }

  @each $size, $value in $spacings {
    --spacing-#{$size}: #{$value};
  }

  --maxWidth-wrapper: var(--maxWidth-3xl);
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman", Times, serif;
  --fontFamily-mono: 'Roboto Mono', 'Courier New', Courier, monospace;
  --font-body: var(--fontFamily-mono);
  --font-heading: var(--fontFamily-mono);

  @each $weight, $value in $font-weights {
    --fontWeight-#{"" + $weight}: #{$value};
  }

  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;

  @each $size, $value in $font-sizes {
    --fontSize-#{$size}: #{$value};
  }

  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }
}
